body {
    margin: 0;
    overflow: hidden;
    background: black;
}

canvas {
    display: block;
}

#gameOver {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    color: white;
    display: none;
}

button {
    padding: 10px 20px;
    font-size: 18px;
}
