body{
    margin:0;
    overflow:hidden;
    background:linear-gradient(to bottom,#111,#000);
    font-family:Arial;
}

#gameContainer{
    position:relative;
    width:100vw;
    height:100vh;
}

canvas{
    display:block;
}

/* ===== UI ===== */

#ui{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding:20px;
    display:flex;
    justify-content:space-between;
    pointer-events:none;
}

#score{
    color:white;
    font-size:20px;
}

/* Charging ring */

#chargingRing{
    position:absolute;
    bottom:120px;
    left:50%;
    width:120px;
    height:120px;
    transform:translateX(-50%);
    border-radius:50%;
    border:6px solid rgba(0,255,0,0.2);
    box-shadow:0 0 20px rgba(0,255,0,0.5);
    transition:0.1s;
}

/* ===== Game Over ===== */

#gameOverScreen{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.8);
    display:flex;
    justify-content:center;
    align-items:center;
    opacity:0;
    pointer-events:none;
    transition:0.4s;
}

#gameOverScreen.active{
    opacity:1;
    pointer-events:all;
}

.modal{
    background:#111;
    padding:40px;
    border-radius:15px;
    text-align:center;
    animation:pop 0.4s ease;
}

@keyframes pop{
    from{transform:scale(0.6);}
    to{transform:scale(1);}
}

button{
    padding:12px 30px;
    margin-top:15px;
    background:#00ff88;
    border:none;
    border-radius:8px;
    font-size:18px;
    cursor:pointer;
}
